<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="mingcute-icons" value="https://kindness-kismet.github.io/mingcute-icons/nuget/v3/index.json" />
    <add key="avaloniaedit" value="https://kindness-kismet.github.io/AvaloniaEdit/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="mingcute-icons">
      <package pattern="IconPacks.Avalonia.*" />
    </packageSource>
    <packageSource key="avaloniaedit">
      <package pattern="Avalonia.AvaloniaEdit" />
    </packageSource>
  </packageSourceMapping>
</configuration>
